@media screen and (min-width: 428px) {
    .container {
        width: 428px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding: 0 15px;
    }
}

@media screen and (max-width: 767px) {
    .header-nav__item {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .header-communication {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .header-communication__list {
        padding-top: 24px;
        padding-bottom: 24px;
        display: flex;
        gap: 40px;
    }
}

@media screen and (max-width: 1157px) {
    .header-communication__item:first-child {
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 768px) {
    .header-communication__link {
        color: var(--color-slate);
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 1158px) {
    .header-communication__link {
        font-size: 16px;
        line-height: 1.5;
        display: inline-block;
    }
}

@media screen and (max-width: 1157px) {
    .hero {
        padding: 112px 0;
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
    }
}


@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero__bg-image {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/01-hero/hero-mobile-2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero__bg-image {
    width: 100%;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/01-hero/hero-tablet-1x.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero__bg-image {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/01-hero/hero-tablet-2x.jpg');
    }
  }
}

@media screen and (min-width: 1158px) {
  .hero__bg-image {
    width: 100%;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/01-hero/hero-desktop-1x.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero__bg-image {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/01-hero/hero-desktop-2x.jpg');
    }
  }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero__bg-image {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/01-hero/hero-mobile-2x.jpg');
    }
}

@media screen and (min-width: 768px) {
    .hero__bg-image {
        width: 100%;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/01-hero/hero-tablet-1x.jpg');
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero__bg-image {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url('../images/01-hero/hero-tablet-2x.jpg');
        }
    }
}

@media screen and (min-width: 1158px) {
    .hero__bg-image {
        width: 100%;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/01-hero/hero-desktop-1x.jpg');
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero__bg-image {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url('../images/01-hero/hero-desktop-2x.jpg');
        }
    }
}

@media screen and (min-width: 768px) {
    .hero__title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto 36px;
    }
}

@media screen and (min-width: 1158px) {
    .hero__title {
        margin: 0 auto 48px;
    }
}

@media screen and (max-width: 1157px) {
    .section-second {
        padding: 96px 0;
    }
}

@media screen and (min-width: 1158px) {
    .section-second {
        padding: 120px 0;
    }
}

@media screen and (max-width: 767px) {
    .company__list {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }
}

@media screen and (min-width: 768px) {
    .company__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .company__list {
        flex-wrap: nowrap;
        gap: 24px;
    }
}

@media screen and (min-width: 768px) {
    .company__item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .company__item {
        width: calc((100% - 72px) / 4);
    }
}

@media screen and (max-width: 1157px) {
    .company__wrapper {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .company__title {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .company__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

@media screen and (min-width: 1158px) {
    .company__text {
        font-weight: 400;
    }
}

@media screen and (max-width: 1157px) {
    .section-third {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .section-third {
        padding-bottom: 120px;
    }

    .works__title {
        color: var(--color-grey);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 72px;
    }

    .works__list {
        display: flex;
        gap: 24px;
    }
}

@media screen and (max-width: 1157px) {
    .section-fourth {
        padding: 96px 0;
    }
}

@media screen and (min-width: 1158px) {
    .section-fourth {
        padding: 120px 0;
    }
}

@media screen and (min-width: 768px) {
    .team__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .team__list {
        flex-wrap: nowrap;
        gap: 24px;
    }
}

@media screen and (min-width: 768px) {
    .team__item {
        width: calc((100%-24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team__item {
        width: calc((100%-72px) / 4);
    }
}

@media screen and (max-width: 1157px) {
    .section-fifth {
        padding: 96px 0;
    }
}

@media screen and (min-width: 1158px) {
    .section-fifth {
        padding: 120px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .customers__container {
        width: 552px;
    }
}

@media screen and (min-width: 768px) {
    .customers__list {
        gap: 24px;
        row-gap: 72px;
    }
}

@media screen and (min-width: 1158px) {
    .customers__list {
        gap: 24px;
    }
}

@media screen and (min-width: 768px) {
    .customers__item {
        width: calc((100% - 48px) / 3);
    }
}

@media screen and (min-width: 1158px) {
    .customers__item {
        width: calc((100% - 120px) / 6);
    }
}

@media screen and (max-width: 1157px) {
    .footer {
        padding: 96px 0;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 100px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-container {
        width: 552px;
        text-align: start;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1158px) {
    .footer-container {
        display: flex;
        text-align: start;
    }
}

@media screen and (min-width: 768px) {
    .footer__logo-wrapper {
        margin: 0 24px 0 0;
    }
}

@media screen and (min-width: 1158px) {
    .footer__logo-wrapper {
        margin-right: 120px;
    }
}

@media screen and (min-width: 768px) {
    .footer__icon-wrapper {
        margin-top: 0;
    }
}

@media screen and (min-width: 768px) {
    .footer__icon-text {
        margin-top: 0;
    }
}

@media screen and (max-width: 767px) {
    .footer__subscribe-wrapper {
        margin-top: 72px;
    }
}

@media screen and (min-width: 768px) {
    .footer__subscribe-wrapper {
        margin-top: 72px;
    }
}

@media screen and (min-width: 1158px) {
    .footer__subscribe-wrapper {
        margin-top: 0;
        margin-left: 80px;
    }
}

@media screen and (min-width: 768px) {
    .footer__subscribe-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
}

@media screen and (min-width: 768px) {
    .footer__subscribe-input {
        width: 264px;
    }
}

@media screen and (min-width: 768px) {
    .gallery {
        padding-top: 64px;
        padding-bottom: 96px;
    }
}

@media screen and (min-width: 1158px) {
    .gallery {
        padding-top: 100px;
        padding-bottom: 120px;
    }
}

@media screen and (min-width: 768px) {
    .gallery-filter__list {
        justify-content: center;
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 1158px) {
    .gallery-filter__list {
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 768px) {
    .gallery__list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .gallery__list {
        row-gap: 48px;
    }
}

@media screen and (max-width: 767px) {
    .gallery__item:not(:last-child) {
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 1158px) {
    .gallery__item {
        width: calc((100% - 48px) / 3);
    }
}

@media screen and (min-width: 768px) {
    .gallery__overley-wrapper {
        width: 356px;
    }
}

@media screen and (min-width: 1158px) {
    .gallery__overley-wrapper {
        width: 360px;
    }
}

@media screen and (max-width: 427px) {
    .modal {
        max-width: 320px;
        overflow-y: scroll;
    }
}

@media screen and (min-width: 768px) {
    .modal {
        max-width: 408px;
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu__open {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .mobile-menu__wrapper {
        max-width: 428px;
    }
}

@media screen and (max-width: 427px) {
    .mobile-menu__social-list {
        gap: calc((100% - 160px) / 4);
    }

    .mobile-menu__contacts-tel {
        font-size: 24px;
    }
}